<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>riftbuild</string>
    <key>CFBundleGetInfoString</key>
    <string>Copyright 2024 Ali El Saleh</string>
    <key>CFBundleIconFile</key>
    <string>riftbuild</string>
    <key>CFBundleIdentifier</key>
    <string>com.AliElSaleh.riftbuild</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>riftbuild</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>riftbuild </string>
    <key>CFBundleVersion</key>
    <string>Version 1.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
  </dict>
</plist>
